<h3>Other Information</h3>
<div class="container">
  <div class="jumbotron content-box">
    <div class="row">
      <div class="col-md-12">
        <h4>Wedding gifts</h4>
        Having our closest friends and family at our wedding is the greatest gift we could ask for, so we don't expect our guests to give us presents.  If you would really like to give us something, we'd love a plank of wood...!
        Having lived together for several years we already have everything we need for our home.  We would love to fix our tired old floors however, so contributions towards our floor fund would be gratefully received.
        <br>
        <br>
        If you'd like to make a contribution, you can do so using PayPal - just visit this link <%= link_to "https://www.paypal.me/EmmaBeynon" %>.
        Note it's free to send a payment via bank transfer, and credit and debit cards will incur a charge.
        <p>
        <h4>Pre ceremony venues</h4>
        There are plenty of places in Peckham to have lunch if you're looking to line your stomach.  We'd recommend these places:
        <ul>
          <li><%= link_to "Meet District", "http://meetdistrict.co.uk/" %></li>
          <li><%= link_to "Kitchen 54", "http://www.kitchen54.co.uk/" %></li>
          <li><%= link_to "Mamma Dough", "http://www.mammadough.co.uk/" %></li>
          <li><%= link_to "Blackbird Bakery", "http://www.blackbirdbakerylondon.co.uk/" %></li>
          <li><%= link_to "The Rye", "http://www.theryepeckham.com/" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
