<h3>Accommodation</h3>
<div class="container">
  <div class="jumbotron content-box">
    <div class="row">
      <div class="col-md-12">
        <h4>Hotels</h4>
        These hotels are within walking distance from the reception venue:
        <ul>
          <li><%= link_to "Tulse Hill Hotel", "https://www.tulsehillhotel.com/" %>, Tulse Hill</li>
          <li><%= link_to "The Lilac Door B&B", "http://www.lilacdoor.co.uk/index.html" %>, West Dulwich</li>
        </ul>
        These hotels are a little further, but just a short cab ride away:
        <ul>
          <li><%= link_to "Church Street Hotel", "http://churchstreethotel.com/" %>, Camberwell</li>
          <li><%= link_to "The Tommyfield", "http://www.thetommyfield.com/" %>, Kennington</li>
          <li><%= link_to "Travelodge", "https://www.travelodge.co.uk/hotels/538/London-Crystal-Palace-hotel" %>, Crystal Palace</li>
        </ul>
        <p>
        <h4>Home rentals</h4>
        There are plenty of house and flat rental options in Dulwich, Tulse Hill, Peckham and the surrounding areas via <%= link_to "Airbnb", "https://www.airbnb.co.uk/c/ebeynon1?s=8" %>.
        If you've not used it before, you can get £20 off your first booking by following this <%= link_to "link", "https://www.airbnb.co.uk/c/ebeynon1?s=8" %> (we'll get £20 too, hurrah!).
      </div>
    </div>
  </div>
</div>
